<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>

        <h1 class="display-4">CONTACT</h1>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="formName">Name</label>
                    <input type="email" class="form-control shadow border-0" id="formName" placeholder="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="formMail">Email address</label>
                    <input type="email" class="form-control shadow border-0" id="formMail"
                        placeholder="name@example.com">
                </div>
            </div>
            <div class="form-group">
                <label for="formMessage">Message</label>
                <textarea class="form-control shadow-lg border-0" id="formMessage" rows="3"
                    placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-dark mb-2">Submit</button>

        </form>

        <%- include('../partials/footer.ejs') %>