<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>
        <div class="container col-lg-6 col-md-8 my-auto p-5 bg-light shadow-lg rounded-3">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">Welcome on my show-off page. It was built quickly to show my projects and to contact me.
            </p>
            <hr class="my-4">
            <p>If you like my work - go to <a class="text-dark" href="/about" role="button"><i>About</i></a>
                section and read what I want to do. </p>

            <a class="btn btn-dark btn-lg shadow-sm" href="/projects" role="button">SHOW-OFF section</a>
        </div>

        <%- include('../partials/footer.ejs') %>